<!-- Header Div -->
<header id="header">
  <div class="header-container">
    <div class="top-nav d-flex justify-content">
      <div>
        <h3>
          <b><i class="fas fa-images"></i>&nbsp;&nbsp;Image Gallery</b>
        </h3>
      </div>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <!-- Search Bar -->
      <form [formGroup]="imageNameForm">
        <i class="fas fa-search"></i>
        <input
          type="text"
          id="serchid"
          class="form-control"
          placeholder="Search Image"
          formControlName="imageName"
          (input)="searchImage()"
        />
      </form>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <div
        class="nav-item text-white small d-flex justify-content align-items-center"
      >
        <h5>
          <b>Welcome, {{ name }}</b>
        </h5>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <ul class="navbar-nav mr-auto navitem-cntr">
          <!-- Profile -->
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              id="navbarDropdownMaster"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMaster">
              <li>
                <a
                  class="dropdown-item"
                  data-bs-toggle="modal"
                  data-bs-target="#profilePicture"
                  ><i class="fas fa-user-circle"></i>Profile Picture</a
                >
              </li>
              <li>
                <a
                  class="dropdown-item"
                  data-bs-toggle="modal"
                  data-bs-target="#profileEditModal"
                  (click)="editProfile()"
                  ><i class="fas fa-edit"></i>Edit Profile</a
                >
              </li>
              <li>
                <a class="dropdown-item" (click)="logout()"
                  ><i class="fas fa-sign-out-alt"></i>Logout</a
                >
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>

<!-- Edit Profile Modal -->
<div
  class="modal fade"
  id="profileEditModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
  data-bs-backdrop="static"
>
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Profile</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="profileForm">
          <fieldset>
            <!-- Name -->
            <div class="form-group mb-2">
              <label for="Name" class="form-label"
                >Name<span class="required">*</span>
              </label>
              <input
                type="text"
                class="form-control form-control-sm"
                id="Name"
                aria-describedby="NameHelp"
                placeholder="Enter New Name"
                tabindex="0"
                role="text"
                formControlName="name"
              />
            </div>
            <!-- User Id -->
            <div class="form-group mb-2">
              <label for="UserId" class="form-label"
                >User Id<span class="required">*</span>
              </label>
              <input
                type="text"
                class="form-control form-control-sm"
                id="UserId"
                aria-describedby="UserIdHelp"
                placeholder="Enter New User Id"
                tabindex="0"
                role="text"
                formControlName="email"
              />
            </div>
            <!-- Password -->
            <div class="form-group mb-2">
              <label for="Password" class="form-label"
                >Password<span class="required">*</span>
              </label>
              <input
                type="text"
                class="form-control form-control-sm"
                id="Password"
                aria-describedby="PasswordHelp"
                placeholder="Enter Password"
                tabindex="0"
                role="text"
                formControlName="password"
              />
            </div>
          </fieldset>
        </form>
        <span style="color: green">{{ message.success }}</span>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          id="editprofileclose"
          class="btn btn-sm"
          style="background-color: red"
          data-bs-dismiss="modal"
        >
          Close
        </button>
        <button
          type="button"
          class="btn btn-sm"
          style="background-color: darkblue"
          (click)="updateProfile()"
        >
          Update
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Profile Picture Modal -->
<div
  class="modal fade"
  id="profilePicture"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
  data-bs-target="#staticBackdrop"
>
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <form [formGroup]="profilePic">
        <fieldset>
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Profile Picture</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <!-- Image select -->
            <div class="image-select">
              <label>
                <span style="font-size: Large">Change Profile Image</span><br />
                <input
                  id="photo"
                  #imageInput
                  type="file"
                  accept="image/*"
                  (change)="onselectFile($event)"
                  formControlName="photo"
                />
              </label>
            </div>
            <div style="margin-top: 5px; margin-bottom: 10px">
              <img
                [src]="img"
                alt="No Image Select"
                height="150px"
                width="150px"
              />
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              id="profilepictureclose"
              class="btn btn-sm"
              data-bs-dismiss="modal"
              style="background-color: rgb(229, 24, 24); color: white"
            >
              Close
            </button>
            <button
              type="button"
              class="btn btn-sm"
              style="background-color: darkblue; color: white"
              (click)="profilePicture()"
            >
              Change
            </button>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>
