<div class="contact">
  <div class="contact-details">
    <div class="contact-header">
      <h3><b>Contact Us</b></h3>
    </div>
    <div class="contact-details-option">
      <div class="mobile">
        <img src="assets/img/image2.png" alt="" />&nbsp;
        <span><b>(+91)1234567890</b></span>
      </div>
      <div class="email">
        <img src="assets/img/image3.png" alt="" />&nbsp;&nbsp;
        <span><b>gallery123@gmail.com</b></span>
      </div>
      <div class="website">
        <img src="assets/img/image4.png" alt="" />&nbsp;&nbsp;
        <span><b>www.gallery.com</b></span>
      </div>
    </div>
  </div>
</div>
