.content-wrapper {
  height: 100vh;
  width: 100%;
  .main-content {
    display: flex;
    width: 100%;
    .sidebar-compt {
      width: 15%;
    }
    .content {
      width: 85%;
    }
  }
}
